#@base()

#define main()


<div class="row">
    <div id="vmaig-content" class="col-md-8 col-lg-9">
        <div id="article-page" class="well">
            <ol class="breadcrumb">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/category?categoryId=#(article.category_id)">#(blog_category.findById(article.category_id).name)</a></li>
                <li class="hidden-xs"><a><span class="glyphicon glyphicon-calendar"></span> #date(article.pub_time, "yyyy-MM-dd")</a></li>
                <li><a>
                    <span class="glyphicon glyphicon-eye-open"></span>
                    #(article.view_times)
                </a></li>
                <li class="pull-right"><a>
                    <span class="glyphicon glyphicon-user"></span> #(auth.findById(article.author_id).name)
                </a></li>
            </ol>

            <div id="article" class="#(article.id)">
                <div class="article-title">
                    <h1>#(article.title)</h1>
                </div>
                <div class="article-tags">
                    #for(tag : article.tags)
                    <a href="/tag?tagId=#(tag)">
                        <span class="label label-vmaig-#(for.count) btn">#(blog_tag.findById(tag).name)</span>
                    </a>
                    #end
                </div>
                <hr/>
                <div class="article-content">
                    #(article.content)
                </div>
            </div>
        </div>

        <!--评论框 -->
        #include("/WEB-INF/view/vmaig_comments/vmaig_comments.html")

    </div>

    <div id="vmaig-side" class="col-md-4 col-lg-3 hidden-xs">

        #include("/WEB-INF/view/blog/widgets/tags_cloud.html")
        #include("/WEB-INF/view/blog/widgets/search.html")
        #include("/WEB-INF/view/blog/widgets/hotest_posts.html")
        #include("/WEB-INF/view/vmaig_comments/latest_comments.html")
        #include("/WEB-INF/view/blog/widgets/links.html")
    </div>
</div>
#end

#define css()
<link type="text/css" rel="stylesheet" href="/blog/static/syntaxhighlighter/styles/shCoreDefault.css"/>
<style type="text/css">
    #article {
        font-size:14px;
        color:#000;
    }

    blockquote {
        font-size:14px;
    }
</style>
#end


#define js()
<script type="text/javascript" src="/blog/static/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/blog/static/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/blog/static/syntaxhighlighter/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/blog/static/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/blog/static/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/blog/static/syntaxhighlighter/scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/blog/static/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
#end
