

<div class="all-post clearfix underline">
    <div class="post-title clearfix">
        <a href="/category?categoryId=#(post.category_id)">
            <div class="pre-cat">
                <div class="pre-catinner btn">
                    #(blog_category.findById(post.category_id).name)
                </div>
                <div class="pre-catarrow">
                </div>
            </div> 
        </a>
        <h1><a href="/article?articleId=#(post.id)">#(post.title)</a></h1>

        </span>
        <div class="post-tags">
            #for(tag : post.tags)
            <a href="/tag?tagId=#(tag)">
                <span class="label label-vmaig-#(for.count) btn">#(blog_tag.findById(tag).name)</span>
            </a>
            #end
        </div>
    </div>
    <div class="post-content ">
        <div class="row">
            <div class="col-sm-4">
                <figure class="thumbnail">
                    <a href="/article?articleId=#(post.id)">
                        <img src="#(post.img)"  height="400" alt="">
                    </a>
                </figure> 
            </div>
            <div class="col-sm-8">
                <p>
                    #if(post.summary.length() <= 200)
                    #(post.summary)
                    #else
                    #(post.summary.substring(0,200)+"...")
                    #end
                </p>
            </div>
        </div>
    </div>
    <div class="post-info hidden-xs">
        <span>
            <span class="glyphicon glyphicon-calendar"></span>
            #date(post.create_time, "yyyy-MM-dd")
        </span>
        <span>
            <span class="glyphicon glyphicon-comment"></span>
            #(post.comment_times)
        </span>
        <span>
            <span class="glyphicon glyphicon-eye-open"></span>
            #(post.view_times)
        </span>
    </div>
</div>
