<div id="vmaig-latest-comments">
    <div class="panel panel-vmaig-comments">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-comment"></span>
                最新评论
                <span class="glyphicon glyphicon-remove btn panel-close pull-right" data-dismiss="alert"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#latest-comment-list"></span>
            </h3>
        </div>
        <ul id="latest-comment-list" class="list-group collapse in">
            #for(comment : latest_comment_list)
            <li class="list-group-item clearfix">
            <div class="comment-tx">
                <img src="#(user_list.findById(comment.user_id).img)" width="40" height="40" alt="">
            </div>
            <div class="comment-info">
                <div class="comment-username">
                    <a href="#">#(user_list.findById(comment.user_id).username) 评论:</a>
                </div>
                <div class="comment-content">
                    <a href="/article?articleId=#(comment.article_id)">
                        #if(comment.text.length() <= 30)
                        #(comment.text)
                        #else
                        #(comment.text.substring(0,30)+"...")
                        #end
                    </a>
                </div>
            </div>
            </li>
            #end
        </ul>
    </div>     
</div>
